<!DOCTYPE html>
<html lang="en">
<%-include("partials/head");%>
 <body>
<%-include("partials/nav.ejs");%>
<main>
    <div class="content">
    <p>Name:   <%=detail.name%></p>
    <p>Phonenumber:   <%=detail.phonenumber%></p>
    <p>Email:        <%=detail.email%></p>
    <p>House Description:       <%=detail.housedescription%></p>
    <p>More Details:     <%=detail.details%></p>
    <p>Date to move In:     <%=detail.date%></p>
    <p>Rent Amount:     <%=detail.price%></p>
  </div>
    <a class="delete" data-doc="<%=detail._id%>">DELETE</a>
</main>
<%-include("partials/footer.ejs")%>
<script> 
    const deletereq  = document.querySelector(".delete");
    console.log(deletereq)
    deletereq.addEventListener("click",function () {
        console.log("clicked");
   const endpoint = 
   `/api/v1/house/detail/${deletereq.dataset.doc}` ;
      console.log(endpoint);

      fetch(endpoint,{
          method:"DELETE",
      }).then(resp=>{
          //RESONSE WILL BE SENT BACK convert it into 
          //return has brackets
        return resp.json();
      }).then(data=>{
          //jandle the promise
          window.location.href = data.redirect;
          alert(data.mess)
      }).catch((err)=>{
          console.log(err);
      })
    })
  </script>
</body>
</html>
