<!DOCTYPE html>
<html lang="en">
<%-include("partials/head");%>
 <body>
<%-include("partials/nav.ejs");%>
<main>
    <div class="content">
    <p style="font-size: 1.5rem; color: black;">Patient Name <%=detail.name%></p>
    <p style="font-size: 1.5rem; color: black;">Patient phonenumber<%=detail.phonenumber%></p>
    <p style="font-size: 1.5rem; color: black;">Patient Email<%=detail.email%></p>
    <p style="font-size: 1.5rem; color: black;">Patient Illness<%=detail.illness%></p>
    <p style="font-size: 1.5rem; color: black;">Date Recommended By Patient<%=detail.date%></p>
    <p style="font-size: 1.5rem; color: black;">Patient Age:<%=detail.age%></p>
  </div>
    <a class="delete" data-doc="<%=detail._id%>">DELETE</a>
</main>
<%-include("partials/authfooter.ejs")%>
<script> 
    const deletereq  = document.querySelector(".delete");
    console.log(deletereq)
    deletereq.addEventListener("click",function () {
        console.log("clicked");
   const endpoint = 
   `/api/v1/patients/detail/${deletereq.dataset.doc}` ;
      console.log(endpoint);

      fetch(endpoint,{
          method:"DELETE",
      }).then(resp=>{
          //RESONSE WILL BE SENT BACK convert it into 
          //return has brackets
        return resp.json();
      }).then(data=>{
          //jandle the promise
          alert(data.mess)
          window.location.href = data.redirect;
        }).catch((err)=>{
        alert(err.message)
      })
    })
  </script>
</body>
</html>
